@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik.woff2') format('woff2');
  font-style: 700;
  font-display: swap;
}


@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: 'Source Code Pro', sans-serif;
  line-height: 1.5;
  font-weight: normal;


  color: black;
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

body{
  background: url("../public/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: white;
}

p{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Neue Montreal';
}

h1, h2 {
  font-size: 10px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Aeonik';
}

.navigation{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: min-content;
  /* border: 1px solid red; */
  padding: 1rem;
  z-index: 2;
  color: white;
}


nav{
  display: flex;
  width: 166px;
  padding: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}



.nav-projects{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: normal;

}

.nav-projects{
  transition: all 0.25s ease-in-out;
  color: #F3F4F6;
  opacity: 0.4;
}

.nav-projects:hover{
  color: white;
  opacity: 1;
}

.description{
  max-width: 319px;
}

@media (max-width: 950px) {
  .top, .bottom{
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .description{
    max-width: 100%;
  }
}


.project{
  aspect-ratio: 4/3;
  width: 313px;
  background: linear-gradient(180deg, rgba(243, 244, 246, 0.40) 0%,  rgba(229, 231, 235, 0.40) 100%);
  border-radius: 3.5px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  border: 1px solid rgba(243, 244, 246, 0.40);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
  will-change: transform;
  backface-visibility: hidden;
}

@media (max-height: 1300px) {
  .project{
    width: 550px;
  }
} 

@media (max-height: 1200px) {
  .project{
    width: 450px;
  }
} 

@media (max-height: 1100px) {
  .project{
    width: 350px;
  }
} 



@media (max-height: 800px) {
  .project{
    width: 300px;
  }
} 

@media (max-height: 750px) {
  .project{
    width: 250px;
  }
} 

@media (max-height: 600px) {
  .project{
    width: 200px;
  }
} 

@media (max-width: 950px) {
  .project, .project{
    width: 300px;
  }
} 

@media (max-width: 550px) {
  .project{
    width: 200px;
  }
} 

.project:hover{
  cursor: pointer;
}

.project-title{
  width: 100%;
  color: #000;
  text-align: center;
  font-family: 'Neue Montreal';
  font-size: 9.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  text-transform: lowercase;
}

.img-container{
  aspect-ratio: 4/3;
  padding: 4.5px;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  position: fixed;
  top: 50vh;
  left: 100%;
}


.active{
  z-index: 20 !important;
}

.active-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
  opacity: 0;
  pointer-events: none;
}

.active-background img{
  width: 100%;
  height: 100%;
  z-index: 19;
  object-fit: cover;
  pointer-events: none;
}

.project-content{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#suptitle, #name, #description{
  font-size: 2rem;
  font-weight: 500;
  color: #FFFFFF;
  font-family: 'Neue Montreal';
}

@media (max-width: 768px) {
  .carousel {
    left: 150%;
  }
  
  nav{
    width: 94px;
  }
}